body {
	margin-top: 100px;
	background-color: rgb(68, 117, 255);
	color: #A4A4A4;
	font-family: "Arial", Verdana, Sans-serif;
}

div.container-layout{
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
div.container-img {
  float: left;
  border: 2px solid black;
  background-image: url('wimage.png');
  width: 340px;
  height: 400px;
}
div.container-login {
	text-align: center;
	border: 2px solid black;
  margin-left: 350px;
  width: 250px;
  height: 100px;
  background-color: #FFFFFF;
}
div.container-signup {
  text-align: center;
  border: 2px solid black;
  margin-left: 350px;
  margin-top: 10px;
  width: 250px;
  height: 286px;
  background-color: #FFFFFF;
}
select{
	float: right;
	width: 50%;
	margin-top: 2px;
}
label{
	float: left;
  margin-right: 1em;
	font-size: 12px;
}
.formArea{
  text-align: right;
  margin-left: 5px;
	margin-right: 5px;
	margin-top: 0 auto;
}
